.nav_logo a > img {
    width: 90px;
}
    
.nav_links ul {
    text-transform: uppercase;
    list-style: none;

    li.dynamic {
        font-size: 15px;
        font-weight: 700;
        padding: 50px 0;
        margin: 0 10px;
        border-bottom: 7px transparent solid;

        &:hover {
            color: $blue-color;
            border-bottom: 7px $blue-color solid;
        }

        a {
            text-decoration: none;
        }
    }
}
